<!DOCTYPE html>
<html lang="en-IN"><head>
<title>{% block title %}{% endblock %}</title>
<meta charset="UTF-8">
<meta name="author" content="Shivam Singh">
<meta name="description" content="hstl_mngt">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta
  name="theme-color"
  content="#F4E6D8"
  media="(prefers-color-scheme: light)" />
<meta
  name="theme-color"
  content="#5D4037"
  media="(prefers-color-scheme: dark)" />
{% load static %}
<link rel="icon" type="image/x-icon" href="{% static 'favicon/favicon.ico' %}">
<link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/favicon-32x32.png' %}">
<link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/favicon-16x16.png' %}">
<link rel="apple-touch-icon" type="image/png" href="{% static 'favicon/apple-touch-icon.png' %}">
<link rel="manifest" href="{% static 'site.webmanifest' %}">
<style>
*{
	color-scheme: light dark;
	margin:2px;
	padding:2px;
	font-family:cascadia code, arial;
	text-align:center;
	align-items:center;
	align-content: center;
	-webkit-user-select: none;
	-webkit-tap-highlight-color: transparent;
}
a{
	text-decoration: none;
}
form{
	ul li{
		color: red;
		font-size: x-large;
		list-style-type: none;
		border-bottom: 5px solid red;
	}
	@media (min-width: 900px){
		div{		
			display: grid;
			grid-template-columns: 1fr 4fr;
		}		
	}
}
</style>
<script>
</script>
{% block static %}{% endblock %}
</head><body>
{% block content %}{% endblock %}
</body></html>