@media (prefers-color-scheme:light) {
	:root{
		--text: #474747;
		--bg: #f7f7f7;
	}
}
@media (prefers-color-scheme: dark) {
	:root{
		--text: #dddddd;
		--bg: #333333;
	}
}
*{
	margin:2px;
	padding:2px;
	font-family:cascadia code, arial;
	text-align:left;
	align-items:center;
	align-content: center;
	background-color: var(--bg);
	color: var(--text);
	user-select: none;
	-webkit-tap-highlight-color: transparent;
}
form{
	ul li{
		list-style-type: none;
		color: red;
		border-left: 5px solid red;
		margin-left: 5%;
		border-bottom-left-radius: 11px;
		text-decoration: underline wavy;
		text-emphasis: " ";
	}
	div{		
		display: grid;
		grid-template-columns: 1fr 4fr;
	}
	input[type='submit']{
		text-align: center;
	}
}
label, input, textarea, select{
	min-height: 50px;
	min-width: 100%;
	height: -webkit-fill-available;
	width: -webkit-fill-available;
}
input, textarea, select{
	border: 1px solid var(--text);
	border-radius: 10px;
	resize: none;
	box-sizing: border-box;
	field-sizing: content;
}