*{
	/* outline: 1px solid; */
}
@media (prefers-color-scheme:light) {
	:root{
		--mainInfo: #ced0df;
	}
}
@media (prefers-color-scheme: dark) {
	:root{
		--mainInfo: #202020;
	}
}
@media (min-width: 900px){
	.main{		
		display: grid;
		grid-template-columns: 1fr 1fr;
	}
}
.main{
	*{
		margin: 0%;
		padding: 0%;
	}
	#std, #stf{
		min-height: 50px;
		position: relative;
		border-radius: 10px;
		border-top: 3px solid yellow;
		border-bottom: 3px solid red;
		border-left: 2px solid green;
		border-right: 2px solid green;
	}
	.mainInfo{
		top: 0%;
		position: absolute;
		border-top-left-radius: 7px;
		border-top-right-radius: 7px;
		width: -webkit-fill-available;
		background-color: var(--mainInfo);
	}
}
#admin{
	
}