{% extends "base.html" %}
{% block title %}Request Leave{% endblock title %}
{% block static %}
{% load static %}
<link rel="stylesheet" href="{% static 'student/style.css' %}">
{% endblock static %}
{% block content %}
{% if form %}
<form action="{{ request.path }}" method="POST" autocomplete="off">
	{% csrf_token %}
	{{ form.as_div }}
	<input type="submit" value="Submit Request">
</form>
{% else %}
❌
{% endif %}
{% endblock content %}
{% block footer %}
  <div>
    <a href="{% url 'hstl:student_index' %}">🏠<br>
      <p>Home</p>
    </a>
  </div>
  <div>
    <a href="{% url 'hstl:student_leaves' %}">📅<br>
      <p>Leaves</p>
    </a>
  </div>
  <div>
    <a href="{% url 'hstl:student_index' %}">🏠<br>
      <p>Home</p>
    </a>
  </div>
{% endblock footer %}
