<!DOCTYPE html>
<html lang="en-IN"><head>
<title>{% block title %}{% endblock title %}</title>
<meta charset="UTF-8">
<meta name="author" content="Shivam Singh">
<meta name="description" content="hstl_mngt">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta
  name="theme-color"
  content="#F4E6D8"
  media="(prefers-color-scheme: light)" />
<meta
  name="theme-color"
  content="#5D4037"
  media="(prefers-color-scheme: dark)" />
{% load static %}
<link rel="icon" type="image/x-icon" href="{% static 'favicon/favicon.ico' %}">
<link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/favicon-32x32.png' %}">
<link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/favicon-16x16.png' %}">
<link rel="apple-touch-icon" type="image/png" href="{% static 'favicon/apple-touch-icon.png' %}">
<link rel="manifest" href="{% static 'site.webmanifest' %}">
<link rel="stylesheet" href="{% static 'base.css' %}">
<script></script>
{% block static %}{% endblock static %}
</head><body>
{% block content %}{% endblock content %}
</body></html>