{% extends "base.html" %}
{% block title %}Index{% endblock title %}
{% block static %}
{% endblock static%}
{% block content %}
{% if form %}
<form id="login" action="{{ request.path }}" method="POST" autocomplete="off">
	{% csrf_token %}
	{{ form.as_div }}
	<input type="submit" value="Login">
</form>
{% else %}
❌
{% endif %}
{% endblock content %}
{% block footer %}
  <div>
    <!-- <a href="{% url 'hstl:index' %}">🔑<br> -->
    <a href="#login">🔑<br>
      <p>Forget Password?</p>
    </a>
  </div>
  <div>
    <p>{{ version }}<br>
      <p>Version</p>
    </p>
  </div>
  <div>
    <!-- <a href="{% url 'hstl:index' %}">🔐<br> -->
    <a href="#login">🔐<br>
      <p>Login</p>
    </a>
  </div>
{% endblock footer %}