{% extends "base.html" %}
{% block title %}Index{% endblock title %}
{% block static %}
<style>
	label, input{
	border: none;
	display: block;
	min-height: 70px;
	font-size: xx-large;
	border-radius: 10px;
	width: -webkit-fill-available;
	height: -webkit-fill-available;
	box-shadow: 0px 0px 0 0.2rem;
}
</style>
{% endblock static%}
{% block content %}
{% if form %}
<form id="login" action="{{ request.path }}" method="POST" autocomplete="off">
	{% csrf_token %}
	{{ form.non_field_errors }}
	{% for field in form %}
	<div>
		{{ field.label_tag }}
		{{ field }}
	</div>
	{{ field.errors }}
	{% endfor %}
	<br><br>
	<input type="submit" value="Login">
</form>
{% else %}
❌
{% endif %}
{% endblock content %}