{% extends "base.html" %}
{% block title %}Index_Root{% endblock title %}
{% block static %}
{% load static %}
<link rel="stylesheet" href="{% static 'root/style.css' %}">
<script type="text/javascript" src="{% static 'root/script.js' %}"></script>
{% endblock static %}
{% block content %}
<div class="main">
    <div id="std">
        <div class="mainInfo">
            <h1>Student</h1>
            <a href="{% url 'hstl:new_student' %}">➕</a>
        </div>
        
        {% if student %}
			<div class="table-container">
            <table>
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Name</th>
                        <th>Mobile</th>
                        <th>Info</th>
                    </tr>
                </thead>
                <tbody>
                    {% for s in student %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td><strong>{{ s.name }}</strong></td>
                        <td>{{ s.mobile }}</td>
                        <td><a href="{% url 'hstl:info_student' s.id %}">ℹ️</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
			</div>
        {% else %}
            <h3>No Students found. Click ➕ to add.</h3>
        {% endif %}
    </div>

    <div id="stf">
        <div class="mainInfo">
            <h1>Staff</h1>
            <a href="{% url 'hstl:new_staff' %}">➕</a>
        </div>

        {% if staff %}
			<div class="table-container">
            <table>
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Name</th>
                        <th>Mobile</th>
                        <th>Info</th>
                    </tr>
                </thead>
                <tbody>
                    {% for s in staff %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td><strong>{{ s.name }}</strong></td>
                        <td>{{ s.mobile }}</td>
                        <td><a href="{% url 'hstl:info_staff' s.id %}">ℹ️</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
			</div>
        {% else %}
            <h3>No Staff found. Click ➕ to add.</h3>
        {% endif %}
    </div>

    <div id="inactive">
        <div class="mainInfo">
            <h1>Deleted User</h1>
        </div>

        {% if inactive %}
            <div class="table-container">
            <table>
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Name</th>
                        <th>Mobile</th>
                        <th>User Type</th>
                        <th>Info</th>
                    </tr>
                </thead>
                <tbody>
                    {% for s in inactive %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td><strong>{{ s.name }}</strong></td>
                        <td>{{ s.mobile }}</td>
                        {% if s.is_staff %}
                        <td>Staff</td>
                        <td><a href="{% url 'hstl:info_staff' s.id %}">ℹ️</a></td>
                        {% else %}
                        <td>Student</td>
                        <td><a href="{% url 'hstl:info_student' s.id %}">ℹ️</a></td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            </div>
        {% else %}
            <h3>No Inactive member</h3>
        {% endif %}
    </div>

    <div id="room">
        <div class="mainInfo">
            <h1>Rooms</h1>
            <a href="{% url 'hstl:new_room' %}">➕</a>
        </div>

        {% if room %}
            <div class="table-container">
            <table>
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Room Number</th>
                        <th>Type</th>
                        <th>Info</th>
                    </tr>
                </thead>
                <tbody>
                    {% for r in room %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td><strong>{{ r.room_number }}</strong></td>
                        <td>{{ r.get_room_type_display }}</td>
                        <td><a href="{% url 'hstl:info_room' %}">ℹ️</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            </div>
        {% else %}
            <h3>No Rooms found. Click ➕ to add.</h3>
        {% endif %}
    </div>
</div>
{% endblock content %}