{% extends "base.html" %}
{% block title %}Info Staff{% endblock title %}
{% block static %}
{% endblock static %}
{% block content %}
<h1>
	<a href="{% url 'hstl:root_index' %}">
		🔙
	</a>
	to home
</h1>
{% if staff %}
	{% if form %}
	<form id="infoStaff" action="{{ request.path }}" method="POST" autocomplete="off">
		{% csrf_token %}
		{{ form.non_field_errors }}
		{% for field in form %}
		<div>
			{{ field.label_tag }}
			{{ field }}
		</div>
		{{ field.errors }}
		{% endfor %}
		<br><br>
		<input type="submit" value="Change">
	</form>
	{% else %}
	❌
	{% endif %}
{% else %}
	:(
{% endif %}
{% endblock content %}