{% extends "base.html" %}
{% block title %}New Student{% endblock title %}
{% block static %}
{% endblock static %}
{% block content %}
{% if form %}
<form id="newStudent" action="{{ request.path }}" method="POST" autocomplete="off">
  {% csrf_token %}
  {{ form.as_div }}
  <input type="submit" value="Add">
</form>
{% else %}
❌
{% endif %}
{% endblock content %}
{% block footer %}
  <div>
    <a href="{% url 'hstl:root_index' %}">🏠<br>
      <p>Home</p>
    </a>
  </div>
  <div>
    <a href="{% url 'hstl:root_index' %}">🏠<br>
      <p>Home</p>
    </a>
  </div>
  <div>
    <a href="{% url 'hstl:root_index' %}">🏠<br>
      <p>Home</p>
    </a>
  </div>
{% endblock footer %}