{% extends "base.html" %}
{% block title %}Index_Root{% endblock %}
{% block static %}
{% load static %}
<link rel="stylesheet" href="{% static 'root/style.css' %}">
<script type="text/javascript" src="{% static 'root/script.js' %}"></script>
{% endblock %}
{% block content %}
<div class="main">
	<!-- Student div -->
	<div id="std">
		<div class="mainInfo">
			<h1>Student</h1>
		</div>
	</div>
	<!-- Staff div -->
	<div id="stf">
		<div class="mainInfo">
			<h1>Staff</h1>
		</div>
	</div>
</div>
<div id="admin">
	<div class="mainInfo">
		<h1>Admin task</h1>
	</div>
</div>
{% endblock %}