{% extends "base.html" %}
{% block title %}Index_Root{% endblock %}
{% block static %}
{% load static %}
<link rel="stylesheet" href="{% static 'root/style.css' %}">
<script type="text/javascript" src="{% static 'root/script.js' %}"></script>
{% endblock %}
{% block content %}
<div class="main">
	<!-- Student div -->
	<div id="std">
		<div class="mainInfo">
			<h1>
			Student
			<a href="{% url 'app:new_student' %}">➕</a>
			</h1>
		</div><br><br>
		{% if student %}
			<br>
			<table>
				<tbody>
					<tr>
						<th>#</th>
						<th>Name</th>
						<th>Mobile</th>
						<th>View</th>
						<th>Edit</th>
						<!-- <th>Delete</th> -->
					</tr>
					{% for s in student %}
					<tr>
						<td>{{ forloop.counter }}</td>
						<td>{{ s.name }}</td>
						<td>+91 {{ s.mobile }}</td>
						<td><a href="">ℹ️</a></td>
						<td><a href="{% url 'app:edit_student' s.id %}">✏️</a></td>
						<!-- <td><a href="{% url 'app:delete_student' s.id %}">🗑️</a></td> -->
					</tr>
					{% endfor %}
				</tbody>
			</table>
		{% else %}
			<h3>No Student. Click plus (➕) to add new student</h3>
		{% endif %}
	</div>
	<!-- Staff div -->
	<div id="stf">
		<div class="mainInfo">
			<h1>
			Staff
			<a href="{% url 'app:new_staff' %}">➕</a>
			</h1>
		</div><br><br>
		{% if staff %}
			<br>
			<table>
				<tbody>
					<tr>
						<th>#</th>
						<th>Name</th>
						<th>Mobile</th>
						<th>View</th>
						<th>Edit</th>
						<!-- <th>Delete</th> -->
					</tr>
					{% for s in staff %}
					<tr>
						<td>{{ forloop.counter }}</td>
						<td>{{ s.name }}</td>
						<td>+91 {{ s.mobile }}</td>
						<td><a href="">ℹ️</a></td>
						<td><a href="{% url 'app:edit_staff' s.id %}">✏️</a></td>
						<!-- <td><a href="{% url 'app:delete_staff' s.id %}">🗑️</a></td> -->
					</tr>
					{% endfor %}
				</tbody>
			</table>
		{% else %}
			<h3>No Staff. Click plus (➕) to add new student</h3>
		{% endif %}
	</div>
</div>
<!-- Admin div -->
<div class="admin">
	<div>
		<h1>Admin task</h1>
	</div>
</div>
{% endblock %}