name: Publish to PyPI

on:
  push:
    branches:
      - main

jobs:
  build-n-publish:
    runs-on: ubuntu-latest
    environment: pypi  # Matches the environment name set on PyPI
    permissions:
      id-token: write  # Required for Trusted Publishing

    steps:
      - uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.x"
      - name: Build and Publish
        run: |
          pip install build
          python -m build
          pip install pypa/gh-action-pypi-publish
        # OIDC handles authentication, no secrets required
